src/dev/.vscode/
*.vsd
*.~vsd
*.out
*.out_py3
*.pyc
*.pyo
*.map
*.js.map
src/dev/node_modules/*
src/dev/typings/
src/dev/backend/usercode.c
src/dev/backend/usercode.exe

# for regression tests
*.diff.png
*.fail.png
